@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: 21cm 29.7cm;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Rubik';
  margin: unset;
  font-size: 10px;
  font-weight: normal;
}

h1,
h6 {
  margin: 0;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

h2 {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
}

a {
  white-space: nowrap;
  color: #186362;
  text-decoration: underline;
}

ul {
  padding: 0;
  list-style: none;
  margin: 2px;
}
